body { margin: 15px 0; font-family: sans-serif; font-size: 16px; text-align: center; }

#mapDiv { display: inline-block; width: 1200px; height: 800px; }

#sidebar { display: inline-block; width: 300px; max-width: 100%; margin-left: 20px;
	vertical-align: top; text-align: left; }

h2 { margin-top: 0; border-bottom: 2px solid; }

select { border: 1px solid #000; border-radius: 5px; background: #fff;
	font-family: inherit; font-size: inherit; }

#partyList { margin-bottom: 30px; border-top: 1px solid #eee; }
#partyList a { display: block; padding: 10px 0; border-bottom: 1px solid #eee; cursor: pointer; }
#partyList a.selected { font-weight: bold; }
#partyList a:hover { background: #eee; }
#partyList a .bar { overflow: auto; }
#partyList a .bar div { height: 20px; float: left; }

#info { display: none; }
#info .amount { font-weight: bold; font-size: 24px; }

@media only screen and (max-width: 1550px) {
	#mapDiv { width: 900px; height: 700px; }
}

@media only screen and (max-width: 1250px) {
	#mapDiv { width: 100%; max-width: 900px; height: 600px; }
	#sidebar { width: 100%; max-width: 900px; box-sizing: border-box; margin: 0; padding: 20px; }
}
